// 共通ファイルテスト

// Colors
$white-1: #FFF;
$black-1: #424242;
$black-2: #212121;
$gray-1: #9E9E9E;
$gray-2: #BDBDBD;
$gray-3: #616161;
$gray-4: #979797;
$gray-5: #EEE;
$gray-6: #E0E0E0;

$tap-highlight-color-1: rgba(#fff, .4);
