.button {
  background-color: $black-1;
  border-radius: 3px;
  color: $white-1;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
  width: 325px;

  &.button-small {
    font-size: 1.4rem;
    padding: .8rem 0;
    width: 136px;
  }

  &.button-login {
    background-color: $white-1;
    border: 1px solid $black-1;
    box-shadow: none;
    color: $black-1;
    font-size: 1.3rem;
    padding: .8rem 0;
    width: 100px;
  }

  &.button-footer {
    background-color: $gray-3;
    border: 1px solid $gray-4;
    box-shadow: none;
    display: block;
    font-size: 1.2rem;
    padding: .8rem 0;
    width: 200px;
  }
}
